# Aturan Penulisan Pada Statement

## Penulisan Umum

In [1]:
# ini komentar
# contohnya kalo mau ngeprint
print("aloohaaa \n \t alias hello world") # ini bentuk String
print(46) # ini numerik

aloohaaa
 	 alias hello world
46

In [2]:
# contoh variabel yang benar
nama = "Septian Enggar Sukmana"
dayUjian = "Ujiannya hari Jum'at"
jmlHari = 5

print("Identitas: ", nama ,"\nJumlah hari pelatihan di Multimatics: ", jmlHari ,"\nKapan ujian? ", dayUjian)

Identitas:  Septian Enggar Sukmana
Jumlah hari pelatihan di Multimatics:  5
Kapan ujian?  Ujiannya hari Jum'at

In [3]:
panjang = 20
lebar = 30
luas = panjang*lebar

print("Panjang: ", panjang, " cm\nLebar: ", lebar, "cm\nLuas: ", luas, "cm2")

Panjang:  20  cm
Lebar:  30 cm
Luas:  600 cm2

## Statement yang ada di dalam atau dinapit oleh tanda kurung seperti {}, ()

In [4]:
# [] list atau array untuk menyimpan lebih dari satu nilai dalam satu variabel
namaHari = ["Senin","Selasa","Rabu","Kamis","Jumat","Sabtu","Minggu"]
print("Daftar hari dalam satu minggu: ",namaHari)
# () tupple nilai data yang dipanggil 
(namaHari)
# {} dictionary, perlu key
{'nama': "Septian Enggar Sukmana", 'alamat': "Malang"}

Daftar hari dalam satu minggu:  ['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu']

{'nama': 'Septian Enggar Sukmana', 'alamat': 'Malang'}

## Statement If

In [5]:
nilai = 65
lulus = "Lulus"
gagal = "Gagal"

if nilai > 65:
    print(lulus)
else:
    print(gagal)

Gagal

## Statement Looping

In [6]:
# looping for, looping datanya sudah diketahui datanya
nilai = [1,2,3,4,5,6,7]

for x in nilai:
    print(x)

1
2
3
4
5
6
7

In [7]:
# while sampai datanya diketahui
i = 1
while i < 8:
    print(i)
    i += 1

1
2
3
4
5
6
7

In [8]:
# pake range
for x in range(5, 15, 2): # start 5, sampai kurang dari 15, pakai 2 step
    print(x)

5
7
9
11
13

## Statement Function

In [9]:
def luasPersegiPanjang(a,b):
    luas = a * b
    print("Luas Persegi Panjang = ", luas, " cm2")

luasPersegiPanjang(45,2)

Luas Persegi Panjang =  90  cm2

## Pakai Library Python

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
A = np.array([1,2,3])
A

array([1, 2, 3])

In [12]:
A.dtype

dtype('int64')

In [13]:
A.shape

(3,)

In [14]:
dataUser = pd.read_pickle("users_data_cleaned.pickle")
dataUser.head()

,user_id,number_transactions,total_amount_usd,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,term_deposit,date_joined,device
0,9231c446-cb16-4b2b-a7f7-ddfc8b25aaf6,3.0,2143.0,58,management,married,tertiary,False,True,False,None,261,1,-1,0,None,False,1998-08-23,mobile
1,bb92765a-08de-4963-b432-496524b39157,NaN,NaN,44,technician,single,secondary,False,True,False,None,151,1,-1,0,None,False,2008-07-15,desktop
2,573de577-49ef-42b9-83da-d3cfb817b5c1,2.0,2.0,33,entrepreneur,married,secondary,False,True,True,None,76,1,-1,0,None,False,2002-06-04,mobile
3,d6b66b9d-7c8f-4257-a682-e136f640b7e3,NaN,NaN,47,blue-collar,married,None,False,True,False,None,92,1,-1,0,None,False,1995-06-29,tablet
4,fade0b20-7594-4d9a-84cd-c02f79b1b526,1.0,1.0,33,None,single,None,False,False,False,None,198,1,-1,0,None,False,1995-08-01,mobile