# EDA

## Import Software Libraries

In [4]:
import sys

# multidimensional array
import numpy as np

# manipulation and analyze data
import pandas as pd
import pickle as pkl

# advance mathematical function
import scipy as sp
from scipy import stats

# visualization
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

# feature engineering and machine learning algorithm
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA 

# encode data and surpress warnings
import category_encoders as ce
import warnings

# summries software libraries used
print("Library yang terpakai di prpject ini")
print(" - Python {}", format(sys.version))
print(" - Numpy {}", format(np.__version__))
print(" - Pandas {}", format(pd.__version__))
print(" - Scipy {}", format(sp.__version__))
print(" - Matplotlib {}", format(matplotlib.__version__))
print(" - Seaborn {}", format(sns.__version__))
print(" - Sklearn {}", format(sklearn.__version__))
print(" - Category Encoders {}", format(ce.__version__))

Library yang terpakai di prpject ini
 - Python {} 3.9.13 (main, Aug 25 2022, 18:29:29)
[Clang 12.0.0 ]
 - Numpy {} 1.21.5
 - Pandas {} 1.4.4
 - Scipy {} 1.9.1
 - Matplotlib {} 3.5.2
 - Seaborn {} 0.11.2
 - Sklearn {} 1.0.2
 - Category Encoders {} 2.5.1.post0

In [6]:
dataUser = pd.read_pickle("users_data_cleaned.pickle")
dataUser.head()

,user_id,number_transactions,total_amount_usd,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,term_deposit,date_joined,device
0,9231c446-cb16-4b2b-a7f7-ddfc8b25aaf6,3.0,2143.0,58,management,married,tertiary,False,True,False,None,261,1,-1,0,None,False,1998-08-23,mobile
1,bb92765a-08de-4963-b432-496524b39157,NaN,NaN,44,technician,single,secondary,False,True,False,None,151,1,-1,0,None,False,2008-07-15,desktop
2,573de577-49ef-42b9-83da-d3cfb817b5c1,2.0,2.0,33,entrepreneur,married,secondary,False,True,True,None,76,1,-1,0,None,False,2002-06-04,mobile
3,d6b66b9d-7c8f-4257-a682-e136f640b7e3,NaN,NaN,47,blue-collar,married,None,False,True,False,None,92,1,-1,0,None,False,1995-06-29,tablet
4,fade0b20-7594-4d9a-84cd-c02f79b1b526,1.0,1.0,33,None,single,None,False,False,False,None,198,1,-1,0,None,False,1995-08-01,mobile

In [7]:
dataUser.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45209 entries, 0 to 45215
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              45209 non-null  object
 1   number_transactions  35210 non-null  float64
 2   total_amount_usd     35210 non-null  float64
 3   age                  45209 non-null  int64
 4   job                  44921 non-null  object
 5   marital              45209 non-null  object
 6   education            43352 non-null  object
 7   default              45209 non-null  bool
 8   housing              45209 non-null  bool
 9   loan                 45209 non-null  bool
 10  contact              32191 non-null  object
 11  duration             45209 non-null  int64
 12  campaign             45209 non-null  int64
 13  pdays                45209 non-null  int64
 14  previous             45209 non-null  int64
 15  poutcome             8252 non-null   object
 16  term_deposit         45209 non-null  bool
 17  date_joined          45179 non-null  datetime64[ns]
 18  device               45115 non-null  object
dtypes: bool(4), datetime64[ns](1), float64(2), int64(5), object(7)
memory usage: 5.7+ MB

In [8]:
dataUser.describe()

,number_transactions,total_amount_usd,age,duration,campaign,pdays,previous
count,35210.000000,35210.000000,45209.000000,45209.000000,45209.000000,45209.000000,45209.000000
mean,3.977052,1369.417751,40.935853,258.153067,2.763897,40.199651,0.580349
std,3.814329,3063.412688,10.618653,257.525446,3.098076,100.130586,2.303489
min,1.000000,-8019.000000,18.000000,0.000000,1.000000,-1.000000,0.000000
25%,2.000000,73.000000,33.000000,103.000000,1.000000,-1.000000,0.000000
50%,3.000000,451.000000,39.000000,180.000000,2.000000,-1.000000,0.000000
75%,4.000000,1438.000000,48.000000,319.000000,3.000000,-1.000000,0.000000
max,20.000000,102127.000000,95.000000,4918.000000,63.000000,871.000000,275.000000

In [9]:
dataUser.corr().abs()

,number_transactions,total_amount_usd,age,default,housing,loan,duration,campaign,pdays,previous,term_deposit
number_transactions,1.000000,0.163409,0.008813,0.138838,0.030429,0.075319,0.017220,0.026431,0.030751,0.023046,0.053390
total_amount_usd,0.163409,1.000000,0.095839,0.065390,0.066857,0.084526,0.022586,0.017274,0.006435,0.016952,0.050785
age,0.008813,0.095839,1.000000,0.017875,0.185552,0.015641,0.004645,0.004767,0.023745,0.001297,0.025168
default,0.138838,0.065390,0.017875,1.000000,0.006020,0.077232,0.010017,0.016819,0.029982,0.018331,0.022421
housing,0.030429,0.066857,0.185552,0.006020,1.000000,0.041341,0.005041,0.023583,0.124197,0.037087,0.139161
loan,0.075319,0.084526,0.015641,0.077232,0.041341,1.000000,0.012395,0.009972,0.022762,0.011048,0.068193
duration,0.017220,0.022586,0.004645,0.010017,0.005041,0.012395,1.000000,0.084551,0.001549,0.001213,0.394549
campaign,0.026431,0.017274,0.004767,0.016819,0.023583,0.009972,0.084551,1.000000,0.088636,0.032860,0.073179
pdays,0.030751,0.006435,0.023745,0.029982,0.124197,0.022762,0.001549,0.088636,1.000000,0.454817,0.103616
previous,0.023046,0.016952,0.001297,0.018331,0.037087,0.011048,0.001213,0.032860,0.454817,1.000000,0.093232
term_deposit,0.053390,0.050785,0.025168,0.022421,0.139161,0.068193,0.394549,0.073179,0.103616,0.093232,1.000000

In [13]:
skewDU = dataUser.skew(axis=1)

print(skewDU)

number_transactions     2.704543
total_amount_usd        8.596128
age                     0.684861
default                 7.245206
housing                -0.224686
loan                    1.852545
duration                3.144556
campaign                4.898555
pdays                   2.615635
previous               41.845672
term_deposit            2.383403
dtype: float64

/var/folders/zf/f36v_nvj1h925sz3pzwpv6s00000gn/T/ipykernel_38805/1560073417.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  skewDU = dataUser.skew()